body {
    font-family: 'Raleway';
    color: #161920;
    margin: 0 auto;
}
.main__info_second {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondPage__contaner {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px;
    flex-wrap: wrap;
}
.secondPage__block {
    display: flex;
    box-shadow: 1px 4px 8px 1px #6d7a99;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}
.secondPage__img {
    width: 50%;
    height: 353.96px;
}
.secondPage__img_style {
    width: 100%;
  
    object-fit: cover;
    height: 353.96px;
    /* min-height: 350px; */
}
.main__info_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
    font-weight: 600;
    text-align: center;
}
.secondPage__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-end;
    gap: 90px;
}
.secondPage__text_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.text {
    text-align:justify;
}
