body {
    font-family: 'Raleway', sans-serif;
    color: #161920;
    margin: 0 auto;
    /* max-width: 1920px; */
}
a {
    text-decoration: none;
    color: #1d2027;
}
/*HEADER*/
.header {
    background: -webkit-linear-gradient(180deg, #aacaf0,#bfbebb);background: linear-gradient(180deg, #659ea0,#bfbebb);
    box-shadow: 1px 1px 10px 1px #b0b0b0;
    /* background-color: #c8d3f1; */
    position: sticky;
    top: 0;
    
    z-index: 500;
    left: 0;
    right: 0;

}
.header__scrolled {
    background-color: #FFFFFF;
    box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
  }
.header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}
.header__contacts {
    display: flex;
    gap: 30px;
}
.header__mail {
    display: flex;
    flex-direction: column;
    
}
.header__phone {
    display: flex;
    flex-direction: column;
}
.header__logo {
    height: 90px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__buttons {

    background: -webkit-linear-gradient(180deg, #aacaf0,#bfbebb);background: linear-gradient(180deg, #54768b,#bfbebb);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: rgb(120, 128, 135); */
    /* box-shadow: 1px 4px 8px 1px #6d7a99; */
    padding: 10px;
    width: 20%;
    max-width: 280px;
    height: 50px;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all 0.2s ease-in-out;
}
.header__buttons:hover {
    background-color: #3b6269;
    /* box-shadow: 0 16px 36px rgba(95, 97, 104, 0.2); */
    box-shadow: 1px 4px 8px 1px #50a6e7;
    transition: background-color 0.3s ease-in;
}
/*MAIN*/
.main__container {
    padding-top: 20vh;
    background: url('img/back-city.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.main__container_all {
    padding-top: 10vh;
    background: url('img/back-city.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 70vh; */
}
h1 {
    text-transform: uppercase;
    font-size: 350%;
    color: #1a1f57;
}
.main__info h7 {
    color: black;
}
.main__about {
    font-size: 150%;
    color: #1a1f57;
}


.tabs {
    display: flex;
    flex-direction: column;
}
/*FOOTER*/
footer {
    background-color: #c9cbcf;
    padding: 90px 20px;
    font-size: 16px;  
    font-weight: 600;
    max-height: 30vh;
}
.footer__container {
    display: flex;
    justify-content: center;
}

.footer__group {
    margin-right: 80px;
}
footer h3 {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    margin-bottom: 15px;
}
/* Планшеты */
@media (max-width: 1024px) {
.about {
    padding: 115px 20px;
}
.about h1 {
    font-size: 36px;
    line-height: 40px;
}
.about__image {
    width: 280px;
}
.about__sun-image {
    width: 75px;
    height: 75px;
}
}
/*Смартфоны*/
@media (max-width: 720px) {
    header {
        padding: 10px;
    }
    .header__logo {
        height: 20px;
    }
    header a {
        margin-right: 10px;
    }
    
    
    footer {
        padding: 50px 10px;
    }
    .footer__container {
        flex-direction: column;
    }
    }
    .firstPage__about {
        background-color: aliceblue;
        max-width: 700px;
        max-height: 500px;
        height: 70vh;
        font-size: 30px;
        padding: 50px;
        margin-bottom: 20px;
        box-shadow: 1px 4px 8px 1px #6d7a99;
       
        border-radius: 10px;
    }
    .partners__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
    .partners__container {
        display: flex;
        align-items: center;
        justify-content: center;
       
        border-radius: 5px;
    }
    .partners__container_logo {
        width: 234px;
        height: 64px;
        cursor: pointer;
        padding: 27px 28px;
        object-fit: contain;
    }
    /* .firstPage__about_four {
        max-width: 700px;
        max-height: 500px;
        height: 70vh;
       
        padding: 50px;
        margin-bottom: 20px;
      
        box-shadow: 0 16px 36px rgba(95, 97, 104, 0.2);
        border-radius: 10px;
       
        background-position: center;
        background-size: cover;
    } */
    /* .four {
        font-size: 20px;
        color: black;
        position: relative;
        z-index: 100;
    } */
 
   