body {
    font-family: 'Raleway';
    color: #161920;
    margin: 0 auto;
}
.main__info_second {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondPage__contaner {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px;
    flex-wrap: wrap;
}
.secondPage__contaner_mobile {
    display: none;
}
.secondPage__block {
    display: flex;
    box-shadow: 1px 4px 8px 1px #6d7a99;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}
.secondPage__block_mobile {
    /* display: block; */
    display: none;
}
.secondPage__img {
    width: 50%;
    height: 353.96px;
}
.secondPage__img_style {
    width: 100%;
  
    object-fit: cover;
    height: 353.96px;
  
}
.main__info_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
    font-weight: 600;
    text-align: center;
}
.secondPage__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-end;
    gap: 90px;
}
.secondPage__text_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.text {
    text-align:justify;
}
@media (min-width: 350px) and (max-width: 599px) {
    .secondPage__contaner {
        display: none; 
    }
    .secondPage__contaner_mobile {
        display: flex;
        justify-content: center;
        margin: 5px;
        gap: 7px;
        flex-wrap: wrap;
        width: 90%;
    }
    .secondPage__block {
      
        display: none;
       
    }
    .secondPage__block_mobile {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 4px 8px 1px #6d7a99;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        
    }
    .main__title_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 17px;
        text-align: center;
      
     
    }
 
    .secondPage__text_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 100%;
        font-size: 17px;
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 5px;
        /* height: 180px; */
    }
    .secondPage__img_mob {
        width: 100%;
        height: 180px;
        height: 100%;
    }
   
    .secondPage__img_mobile {
        width: 100%;
      
        object-fit: cover;
        height: 180px;
        /* height: 100%; */
      
    }
    .text_mobile {
        text-align:justify;
    }

}