body {
    font-family: 'Raleway', sans-serif;
    color: #161920;
    margin: 0 auto;
    max-width: 1920px;
}
a {
    text-decoration: none;
    color: #1d2027;
}
/*HEADER*/
.header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 60px;
    box-shadow: 0 16px 36px rgba(30, 30, 32, 0.22);
    padding: 20px;
    background: -webkit-linear-gradient(180deg, #737570,#bfbebb);background: linear-gradient(180deg, #737570,#bfbebb);
}
.header__mail {
    display: flex;
    flex-direction: column;
    
}
.header__phone {
    display: flex;
    flex-direction: column;
}
.header__logo {
    height: 100px;
}
/*MAIN*/
.main__buttons {
    background-color: SteelBlue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 16px 36px rgba(8, 8, 47, 0.22); */
    box-shadow: 0 0 5px 1px rgb(37, 37, 140);
    padding: 10px;
    width: 20%;
    max-width: 280px;
    height: 50px;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all 0.2s ease-in-out;
}
.main__buttons:hover {
    background-color: #afe3c4;
    box-shadow: 0 16px 36px rgba(35, 122, 29, 0.2);
    transition: background-color 0.3s ease-in;
}
.main__container {
    /* opacity: 50%; */
    background: url('img/background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 70vh;
    opacity: 100%;
    position: relative;
    z-index: 50;
}
h1 {
    text-transform: uppercase;
    font-size: 350%;
    color: #ffffff;
}
.main__about {
    font-size: 150%;
    color: #ffffff;
}
.main__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 50;
}

.tabs {
    display: flex;
    flex-direction: column;
}
/*FOOTER*/
footer {
    padding: 90px 20px;
    font-size: 16px;  
    font-weight: 600;
    height: 10vh;
}
.footer__container {
    display: flex;
    justify-content: center;
}
.footer__copy {
    text-align: center;
    opacity: 0.5;
    margin-top: 40px;
}
.footer__group {
    margin-right: 80px;
}
footer h3 {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer__links {
    display: flex;
    flex-direction: column;
}
.footer__links a {
    margin-bottom: 15px;
}
/* Планшеты */
@media (max-width: 1024px) {
.about {
    padding: 115px 20px;
}
.about h1 {
    font-size: 36px;
    line-height: 40px;
}
.about__image {
    width: 280px;
}
.about__sun-image {
    width: 75px;
    height: 75px;
}
}
/*Смартфоны*/
@media (max-width: 720px) {
    header {
        padding: 10px;
    }
    .header__logo {
        height: 20px;
    }
    header a {
        margin-right: 10px;
    }
    
    
    footer {
        padding: 50px 10px;
    }
    .footer__container {
        flex-direction: column;
    }
    }